In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
df = pd.read_csv("./BTCUSD_Candlestick_1_M_BID_01.01.2023-09.01.2023.csv")
df

                             Local time   Open   High    Low  Close  Volume
0      01.01.2023 00:00:00.000 GMT+0530  16530  16530  16530  16530  0.0000
1      01.01.2023 00:01:00.000 GMT+0530  16530  16530  16530  16530  0.0000
2      01.01.2023 00:02:00.000 GMT+0530  16530  16530  16530  16530  0.0000
3      01.01.2023 00:03:00.000 GMT+0530  16530  16530  16530  16530  0.0000
4      01.01.2023 00:04:00.000 GMT+0530  16530  16530  16530  16530  0.0000
...                                 ...    ...    ...    ...    ...     ...
12955  09.01.2023 23:55:00.000 GMT+0530  17353  17355  17345  17346  0.0002
12956  09.01.2023 23:56:00.000 GMT+0530  17346  17347  17344  17346  0.0002
12957  09.01.2023 23:57:00.000 GMT+0530  17346  17351  17346  17351  0.0001
12958  09.01.2023 23:58:00.000 GMT+0530  17351  17352  17350  17350  0.0001
12959  09.01.2023 23:59:00.000 GMT+0530  17350  17350  17344  17344  0.0001

[12960 rows x 6 columns]

In [3]:
#Check if any zero volumes are available
indexZeros = df[ df['Volume'] == 0 ].index

df.drop(indexZeros , inplace=True)
df.loc[(df["Volume"] == 0 )]
df.isna().sum()

Local time    0
Open          0
High          0
Low           0
Close         0
Volume        0
dtype: int64

In [4]:
df.head()

                            Local time   Open   High    Low  Close  Volume
1170  01.01.2023 19:30:00.000 GMT+0530  16474  16475  16473  16475  0.0001
1171  01.01.2023 19:31:00.000 GMT+0530  16475  16478  16475  16477  0.0001
1172  01.01.2023 19:32:00.000 GMT+0530  16477  16478  16476  16477  0.0001
1173  01.01.2023 19:33:00.000 GMT+0530  16477  16479  16476  16478  0.0001
1174  01.01.2023 19:34:00.000 GMT+0530  16478  16479  16477  16478  0.0001

In [5]:
import pandas_ta as ta

In [6]:
df['ATR'] = df.ta.atr(length=20)
df['RSI'] = df.ta.rsi()
df['EMA55'] = df.ta.ema(length=55)
df['EMA21'] = df.ta.ema(length=21)

from scipy.stats import linregress
def get_slope(array):
    y = np.array(array)
    x = np.arange(len(y))
    slope, intercept, r_value, p_value, std_err = linregress(x, y)
    return slope

In [7]:
backrollingN = 6

In [8]:
df['slopeRSI'] = df['RSI'].rolling(window=backrollingN).apply(get_slope, raw=True)
df['slopeEMA55'] = df['EMA55'].rolling(window=backrollingN).apply(get_slope, raw=True)
df['slopeEMA21'] = df['EMA21'].rolling(window=backrollingN).apply(get_slope, raw=True)

In [9]:
df = df.dropna()

In [10]:
df

,Local time,Open,High,Low,Close,Volume,ATR,RSI,EMA55,EMA21,slopeRSI,slopeEMA55,slopeEMA21
1245,01.01.2023 20:45:00.000 GMT+0530,16476,16476,16474,16476,0.0001,1.823657,50.478568,16477.619729,16475.560560,0.438844,-0.078537,0.014988
1246,01.01.2023 20:46:00.000 GMT+0530,16476,16476,16474,16474,0.0001,1.832474,43.650150,16477.490453,16475.418691,-0.219261,-0.077773,0.008431
1247,01.01.2023 20:47:00.000 GMT+0530,16474,16476,16474,16475,0.0001,1.840851,47.475981,16477.401509,16475.380628,-0.541592,-0.081118,-0.007920
1249,01.01.2023 20:49:00.000 GMT+0530,16475,16475,16474,16474,0.0001,1.798808,44.241202,16477.280026,16475.255117,-1.343515,-0.093527,-0.046161
1250,01.01.2023 20:50:00.000 GMT+0530,16475,16475,16474,16474,0.0001,1.758868,44.241202,16477.162882,16475.141015,-1.316374,-0.105493,-0.080926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,09.01.2023 23:55:00.000 GMT+0530,17353,17355,17345,17346,0.0002,5.960392,55.636026,17328.367871,17343.387143,-0.983051,0.896620,0.892159
12956,09.01.2023 23:56:00.000 GMT+0530,17346,17347,17344,17346,0.0002,5.812372,55.636026,17328.997590,17343.624675,-1.366394,0.831945,0.727937
12957,09.01.2023 23:57:00.000 GMT+0530,17346,17351,17346,17351,0.0001,5.771754,59.820754,17329.783391,17344.295160,-1.297888,0.771620,0.583838
12958,09.01.2023 23:58:00.000 GMT+0530,17351,17352,17350,17350,0.0001,5.583166,58.629598,17330.505412,17344.813781,-0.941383,0.727736,0.489204
12959,09.01.2023 23:59:00.000 GMT+0530,17350,17350,17344,17344,0.0001,5.604008,51.946080,17330.987362,17344.739801,-1.293949,0.673174,0.372003

In [11]:
#Target flexible way
pipdiff = 500*1e-5 #for TP
SLTPRatio = 2 #pipdiff/Ratio gives SL

def mytarget(barsupfront, df1):
    length = len(df1)
    high = list(df1['High'])
    low = list(df1['Low'])
    close = list(df1['Close'])
    open = list(df1['Open'])
    trendcat = [None] * length
    
    for line in range (0,length-barsupfront-2):
        valueOpenLow = 0
        valueOpenHigh = 0
        for i in range(1,barsupfront+2):
            value1 = open[line+1]-low[line+i]
            value2 = open[line+1]-high[line+i]
            valueOpenLow = max(value1, valueOpenLow)
            valueOpenHigh = min(value2, valueOpenHigh)

            if ( (valueOpenLow >= pipdiff) and (-valueOpenHigh <= (pipdiff/SLTPRatio)) ):
                trendcat[line] = 1 #-1 downtrend
                break
            elif ( (valueOpenLow <= (pipdiff/SLTPRatio)) and (-valueOpenHigh >= pipdiff) ):
                trendcat[line] = 2 # uptrend
                break
            else:
                trendcat[line] = 0 # no clear trend
            
    return trendcat

In [12]:
# mytarget(barsfront to take into account, dataframe)
df['mytarget'] = mytarget(10, df)
df.tail()

C:\Users\hites\AppData\Local\Temp/ipykernel_9140/937541049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mytarget'] = mytarget(10, df)

,Local time,Open,High,Low,Close,Volume,ATR,RSI,EMA55,EMA21,slopeRSI,slopeEMA55,slopeEMA21,mytarget
12955,09.01.2023 23:55:00.000 GMT+0530,17353,17355,17345,17346,0.0002,5.960392,55.636026,17328.367871,17343.387143,-0.983051,0.896620,0.892159,NaN
12956,09.01.2023 23:56:00.000 GMT+0530,17346,17347,17344,17346,0.0002,5.812372,55.636026,17328.997590,17343.624675,-1.366394,0.831945,0.727937,NaN
12957,09.01.2023 23:57:00.000 GMT+0530,17346,17351,17346,17351,0.0001,5.771754,59.820754,17329.783391,17344.295160,-1.297888,0.771620,0.583838,NaN
12958,09.01.2023 23:58:00.000 GMT+0530,17351,17352,17350,17350,0.0001,5.583166,58.629598,17330.505412,17344.813781,-0.941383,0.727736,0.489204,NaN
12959,09.01.2023 23:59:00.000 GMT+0530,17350,17350,17344,17344,0.0001,5.604008,51.946080,17330.987362,17344.739801,-1.293949,0.673174,0.372003,NaN

In [13]:
df = df.dropna()
attributes = ['ATR', 'RSI', 'EMA55', 'EMA21', 'slopeRSI', 'slopeEMA55', 'slopeEMA21']
x = df[attributes]
y = df['mytarget']
print(x)

            ATR        RSI         EMA55         EMA21  slopeRSI  slopeEMA55  \
1245   1.823657  50.478568  16477.619729  16475.560560  0.438844   -0.078537
1246   1.832474  43.650150  16477.490453  16475.418691 -0.219261   -0.077773
1247   1.840851  47.475981  16477.401509  16475.380628 -0.541592   -0.081118
1249   1.798808  44.241202  16477.280026  16475.255117 -1.343515   -0.093527
1250   1.758868  44.241202  16477.162882  16475.141015 -1.316374   -0.105493
...         ...        ...           ...           ...       ...         ...
12943  6.320117  73.584044  17316.663996  17329.730095  0.727945    1.013577
12944  6.254111  71.062223  17317.890282  17331.663723  1.901878    1.112072
12945  6.141405  66.177335  17318.929914  17333.057930  0.773113    1.169294
12946  6.134335  69.557739  17320.146703  17334.870845  0.135573    1.202023
12947  6.127618  69.557739  17321.320035  17336.518950 -0.645879    1.185624

       slopeEMA21
1245     0.014988
1246     0.008431
1247    -0.007920
1249    -0.046161
1250    -0.080926
...           ...
12943    1.583141
12944    1.782076
12945    1.866822
12946    1.886722
12947    1.782734

[5784 rows x 7 columns]

In [14]:
df.isna().sum()

Local time    0
Open          0
High          0
Low           0
Close         0
Volume        0
ATR           0
RSI           0
EMA55         0
EMA21         0
slopeRSI      0
slopeEMA55    0
slopeEMA21    0
mytarget      0
dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=2)

In [16]:
from sklearn.ensemble import GradientBoostingClassifier

In [17]:
model = GradientBoostingClassifier()

In [18]:
model.fit(xtrain, ytrain)

y_pred_train = model.predict(xtrain)
y_pred_test = model.predict(xtest)

In [19]:
from sklearn.metrics import accuracy_score
accurancy_train = accuracy_score(ytrain, y_pred_train)
accuracy_tesst = accuracy_score(ytest, y_pred_test)

print("accuracy train %.f%% "% (accurancy_train*100))
print("accuracy test %.f%% "% (accuracy_tesst*100))

accuracy train 59%
accuracy test 48%

In [20]:
print(df['mytarget'].value_counts()*100/df['mytarget'].count())


pred_test = np.random.choice([0,1,2], len(y_pred_test))
accuracy_tesst = accuracy_score(ytest, pred_test)
print("accuracy gambler %.2f%%" %(accuracy_tesst*100))

0.0    43.637621
1.0    30.930152
2.0    25.432227
Name: mytarget, dtype: float64
accuracy gambler 31.63%

In [21]:
train_index = int(0.8 * len(x))
xtrain, xtest = x[:train_index], x[train_index:]
ytrain, ytest = y[:train_index], y[train_index:]

In [22]:
model2 = GradientBoostingClassifier()
model2.fit(xtrain, ytrain)

y_pred_train = model.predict(xtrain)
y_pred_test = model.predict(xtest)

In [23]:
from sklearn.metrics import accuracy_score
accurancy_train = accuracy_score(ytrain, y_pred_train)
accuracy_tesst = accuracy_score(ytest, y_pred_test)

print("accuracy train %.f%% "% (accurancy_train*100))
print("accuracy test %.f%% "% (accuracy_tesst*100))

accuracy train 57%
accuracy test 56%

In [24]:
print(df['mytarget'].value_counts()*100/df['mytarget'].count())


pred_test = np.random.choice([0,1,2], len(y_pred_test))
accuracy_tesst = accuracy_score(ytest, pred_test)
print("accuracy gambler %.2f%%" %(accuracy_tesst*100))

0.0    43.637621
1.0    30.930152
2.0    25.432227
Name: mytarget, dtype: float64
accuracy gambler 33.45%

In [25]:
from sklearn.metrics import confusion_matrix
import pandas as pd



# Create the contingency mat
matrix_test = confusion_matrix(ytest, y_pred_test)
matrix_train = confusion_matrix(ytrain, y_pred_train)

# Convert the matrix to a DataFrame for easy display
matrix_df_test = pd.DataFrame(matrix_test, columns=['pred_Sideways_trend', 'pred_Downtrend','pred_Uptrend'], index=['Sideways_trend', 'Downtrend','Uptrend'])

matrix_df_train = pd.DataFrame(matrix_train, columns=['pred_Sideways_trend', 'pred_Downtrend','pred_Uptrend'], index=['Sideways_trend', 'Downtrend','Uptrend'])

print(matrix_df_test)
print("=============================================================================")
print(matrix_df_train)

                pred_Sideways_trend  pred_Downtrend  pred_Uptrend
Sideways_trend                  497              26             5
Downtrend                       192              95             8
Uptrend                         235              42            57
=============================================================================
                pred_Sideways_trend  pred_Downtrend  pred_Uptrend
Sideways_trend                 1669             310            17
Downtrend                       642             833            19
Uptrend                         633             378           126